{% extends "crowd_app/main_page_template.html" %}
{% block title%}View Media{% endblock%}
{% block content %}
<!-- Main content goes here-->
<a href="{% url 'media_app:upload' org.slug %}" class="btn-back">Upload New Image</a><br>
<a href="{% url 'crowd_app:user_media' %}" class="btn-back">View Your Media</a><br>
{% if media_list %}
        
        {% for media in media_list %}
        
                Filename: {{ media.file_name }}<br>
                Username: {{ media.user.username }}<br>
                Status: {{ media.human_status }}<br>
                Uploaded: {{ media.created }}<br>
        
        <a href="{% url 'media_app:media_view' org.slug media.id %}"><img src="{{ media.media_path.url }}" style="max-width: 256px;"></a>
        <br>
        <br>
        {% endfor %}

{% else %}
<p>No media was found</p>
{% endif %}

<!-- End of content variable-->
{% endblock %}