{% extends "crowd_app/main_page_template.html" %}
{% block title%}View Media{% endblock%}
{% block content %}
<!-- Main content goes here-->
<a href="{% url 'media_app:upload' org.slug %}" class="btn-back">Upload New Image</a>
<a href="{% url 'crowd_app:user_media' %}" class="btn-back">View Your Media</a><br>
{% if media_list %}
        <div class="media-grid">
                {% for media in media_list %}
                <div class="media-card">
                        <a href="{% url 'media_app:media_view' org.slug media.id %}">
                                <img src="{{ media.media_path.url }}" alt="Image uploaded by {{media.user.username}}">
                        </a>
                        <div class="media-info">
                                <p><strong>Uploaded by: </strong> {{ media.user.username }}</p>
                                <p><strong>Tags:</strong>
                                        {% for tag in media.tag.all %}
                                        <span class="tag-pill" style="background-color: {{tag.bg_color}};">{{ tag.name }}</span>
                                        {% empty %}
                                        No Tags
                                        {% endfor %}
                                </p>
                        </div>
                </div>
                {% endfor %}
        </div>
{% else %}
        <p>No media was found</p>
{% endif %}

<!-- End of content variable-->
{% endblock %}