{% extends "crowd_app/main_page_template.html" %}
{% block title%} Home {% endblock%}
{% block content %}
<!-- Main content goes here-->
<h2>Welcome to CrowdCam</h2>

<p>We are a platform used for people to upload content for events, conferences, and parties! We believe that no one person can capture every fun moment. So why not let people capture their own moments and stories? With CrowdCam, you can create organizations for users to join and your users can upload their photos!</p>
<p>Worried about unprofessional content? We've got you covered. Each piece of media that is uploaded is held in a queue for approval. Designated moderators will then approve the content for public viewing.</p>
<!-- End of content variable-->
{% endblock %}