{% load static %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{% static 'global_styles.css' %}">

<head lang="en">
    <!-- placeholder title for page title-->
    <title>{% block title %}{%endblock%}</title>
    <meta charset="UTF-8">
    <meta name="author" content="CrowdCam">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <header>
        <h1><a href="/">CrowdCam</a></h1>
    </header>

    <nav>
        <ul style="list-style: none;">
            {% if not user.is_authenticated %}

            <li><a href="{% url 'users:create_user' %}">Create an account</a></li>
            <li><a href="{% url 'users:login' %}">Login</a></li>

            {% else %}

            <li><a href="{% url 'users:logout' %}">Logout</a></li>
            <li><a href="{% url 'crowd_app:upload' %}">Upload</a></li>

            {% endif %}

            <li><a href="{% url 'crowd_app:media_index' %}">Media</a></li>
        </ul>
    </nav>

    <main>
        <!-- variable content for main elements-->
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        This site is for educational purposes only.
    </footer>

</body>

</html>