{% extends "crowd_app/main_page_template.html" %}
{% block title%}Your Orgs{% endblock%}
{% block content %}
<!-- Main content goes here-->

{% if orgs %}
        
    {% for org in orgs %}
                
        ID: {{org.org.id}}
        <br>
        Name: {{ org.org.name }}<br>
                
        <a href="{% url 'organization:org_view' org.org.id %}">{{org.org.name}}</a>

        {% if org.is_mod %}
            <p>Mod Placeholder</p>
        {% endif %}

        {% if org.is_admin %}
            <a href="{% url 'organization:admin_index' org.org.id %}">Admin Page</a>
        {% endif %}
        <br>
        <br>
    {% endfor %}
        
{% else %}
<p>No orgs found</p>
{% endif %}

<!-- End of content variable-->
{% endblock %}