{% extends "crowd_app/main_page_template.html" %}

{% block title %}
Login to your account
{% endblock %}

{% block content %}
<h1>Login to your account</h1>
<form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    
    <!--If a user tries to access a page that requires login while logged out,
    they get redirected to this page with a 'next' parameter included to send them
    back to the original page
    This bit of code helps that redirection process-->
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
    {% endif %}
    <button type="submit">Login</button>
</form>

{% endblock %}