{% extends "crowd_app/main_page_template.html" %}
{% block title%}Set Org Join Code{% endblock%}
{% block content %}
<!-- Main content goes here-->
<h2>Set Join Code</h2>

{% if err %}
<h3>{{err}}</h3>
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Set Join Code</button>
</form>

<a class="btn-back" href="{% url 'organization:admin_index' org_id %}">Back to Admin Index</a>

<!-- End of content variable-->
{% endblock %}
